<h2>Por Capital</h2>
<hr>
<div class="row">
    <div class="col">
        <!-- SearchBox -->
         <!-- Busquedas -->
         <!-- (onValueJCST)="searchByCapital($event)"  -->
         <!-- (onValueJCST)="searchByCapital($event)" -->
        <shared-search-box 
        (onDebounce)="searchByCapital($event)"
        placeHolder="Buscar por Capital"></shared-search-box>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <!-- <ul>
            <li *ngFor="let country of countries">
                {{country.capital }} -{{country.population}}
            </li>
        </ul> -->
        <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
        <countries-table [countries]="countries" ></countries-table>
    </div>
</div>
